<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>

  <div class="book-card" >
    <a href="/produto">
      <img src="/imagem/soc.jpg" alt="" class="book-card-img">
      <h4 class="book-card-h4">Six Of Crows</h4>
      <p class="book-card-p">R$ 109,31</p>
    </a>
  </div>

  <div class="book-card">
    <a href="/produto">
      <img src="/imagem/estilhaca.jpg" alt="" class="book-card-img">
      <h4 class="book-card-h4">Estilhaça-me</h4>
      <p class="book-card-p">R$ 45,43</p>
    </a>
  </div>

  <div class="book-card">
    <a href="/produto">
      <img src="/imagem/pj.jpg" alt="" class="book-card-img">
      <h4 class="book-card-h4">Percy Jackson</h4>
      <p class="book-card-p">R$ 40,99</p>
    </a>
  </div>

  <div class="book-card">
    <a href="/produto">
      <img src="/imagem/legend.jpg" alt="" class="book-card-img">
      <h4 class="book-card-h4">Legend</h4>
      <p class="book-card-p">R$ 42,30</p>
    </a>
  </div>

  <div class="book-card">
    <a href="/produto">
      <img src="/imagem/jh.jpg" alt="" class="book-card-img">
      <h4 class="book-card-h4">Jogos de Herança</h4>
      <p class="book-card-p">R$ 33,99</p>
    </a>
  </div>

  <div class="book-card">
    <a href="/produto">
      <img src="/imagem/rv.jpg" alt="" class="book-card-img">
      <h4 class="book-card-h4">A Rainha Vermelha</h4>
      <p class="book-card-p">R$ 32,99</p>
    </a>
  </div>

</body>
</html>