<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>

  <div class="book-card">
    <img src="https://m.media-amazon.com/images/I/91-JO-S2bFL._AC_UL400_.jpg" alt="" class="book-card-img">
    <h4 class="book-card-h4">Six Of Crows</h4>
    <p class="book-card-p">R$ 109,31</p>
  </div>

</body>
</html>