<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>


  <div class="card">


    <div class="card-home">
        <div class="card-a"><img src="/imagem/soc.jpg" alt="" class="card-img"/></div>

        <div class="card-b">
            <h4 class="card-p">Six Of Crows </h4> 
            <p class="card-p">R$ 109,31</p>
            <p class="card-p">Autora: Leigh Bargudo</p>
            <p class="card-p">Editora: Gutenberg ; 1ª edição (30 junho 2016)</p>
            <p class="card-p">Capa comum: 376 páginas</p>
            <p class="card-p">Six Of Crows é o primeiro livro de uma duologia do Grishaverso e deve ser lido depois da triologia de Sombra e Ossos. E conta a história de 6 pessoas unidas pela proposta de receber 1 milhão de Kruges para retirar uma pessoa da prisão de mais alta segurança, um livro emocionante e cheio de reviravoltas.</p>
        </div>

    </div>


</div>


</body>
</html>