<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>

  <div class="book">

    <div class="book-card-home">
        <div class="card-a"><img src=/imagem/soc.jpg alt="" class="book-card-img"/></div>

        <div class="card-b">
            <h4 class="book-card-h4">Six Of Crows</h4> 
            <p class="book-card-p">Autora: Thareh Mafi</p>
            <p class="book-card-p">R$ 109,31</p>
            <p class="book-card-p">Editora: Gutenberg; 1ª edição (30 junho 2016)</p>
            <p class="book-card-p">Capa comum: 376 páginas</p>
            <p class="card-p">Six Of Crows é o primeiro livro de uma duologia do Grishaverso e deve ser lido depois da triologia de Sombra e Ossos. E conta a história de 6 pessoas unidas pela proposta de receber 1 milhão de Kruges para retirar uma pessoa da prisão de mais alta segurança, um livro emocionante e cheio de reviravoltas.</p>
        </div>
        
    </div>

    <div class="book-card-home">
        <div class="card-a"><img src="/imagem/estilhaca.jpg" alt="" class="book-card-img"/></div>

        <div class="card-b">
            <p class="card-p">Livro: Six Of Crows</p> 
            <p class="card-p">Autora: Leigh Bargudo</p>
            <p class="card-p">Editora: Gutenberg</p>
            <p class="card-p">No eletrizante primeiro volume da série Estilhaça-me, Tahereh Mafi apresenta um mundo distópico hipnotizante, uma emocionante história de super-heróis e uma heroína inesquecível. Eu li essa série de livros em Janeiro de 2022, e se tornou um dos meus livros favoritos. Os meus personagens favoritos são a Juliette, o Aaron e o Kenji.</p>
        </div>

    </div>

    <div class="book-card-home">
        <div class="card-a"><img src="/imagem/pj.jpg" alt="" class="book-card-img"/></div>

        <div class="card-b">
            <p class="card-p">Livro: Percy Jackson</p> 
            <p class="card-p">Autor: Rick Riordan</p>
            <p class="card-p">Editora: Intrínseca</p>
            <p class="card-p">Primeiro volume da saga Percy Jackson e os olimpianos, O ladrão de raios esteve entre os primeiros lugares na lista das séries mais vendidas do The New York Times. O autor conjuga lendas da mitologia grega com aventuras no século XXI.</p>
        </div>


    </div>

</div>


  
  <div class="book-card-produto" >
      <div><img src="/imagem/soc.jpg" alt="" class="book-card-img"></div>
      <h4 class="book-card-h4">Six Of Crows</h4>
      <p class="book-card-p">R$ 109,31</p>
      <p class="book-card-p">Editora: Gutenberg; 1ª edição (30 junho 2016)</p>
      <p class="book-card-p">Capa comum: 376 páginas</p>
  </div>

  <div class="book-card-produto">
      <div><img src="/imagem/estilhaca.jpg" alt="" class="book-card-img"></div>
      <h4 class="book-card-h4">Estilhaça-me</h4>
      <p class="book-card-p">R$ 45,43</p>
      <p class="book-card-p">Editora: Universo dos Livros; 1ª edição (12 abril 2018)</p>
      <p class="book-card-p">Capa comum: 352 páginas</p>
  </div>

  <div class="book-card-produto">
      <div><img src="/imagem/pj.jpg" alt="" class="book-card-img"></div>
      <h4 class="book-card-h4">Percy Jackson</h4>
      <p class="book-card-p">R$ 40,99</p>
      <p class="book-card-p">Editora: Intrínseca; 1ª edição (11 agosto 2014)</p>
      <p class="book-card-p">Capa comum: 400 páginas</p>
  </div>

  <div class="book-card-produto">
      <div><img src="/imagem/legend.jpg" alt="" class="book-card-img"></div>
      <h4 class="book-card-h4">Legend</h4>
      <p class="book-card-p">R$ 42,30</p>
      <p class="book-card-p">Editora: Rocco Jovens Leitores; 1ª edição (15 junho 2021)</p>
      <p class="book-card-p">Capa comum: 256 páginas</p>
  </div>

  <div class="book-card-produto">
      <div><img src="/imagem/jh.jpg" alt="" class="book-card-img"></div>
      <h4 class="book-card-h4">Jogos de Herança</h4>
      <p class="book-card-p">R$ 33,99</p>
      <p class="book-card-p">Editora: Alt; 1ª edição (24 maio 2021)</p>
      <p class="book-card-p">Capa comum: 432 páginas</p>
  </div>

  <div class="book-card-produto">
      <div><img src="/imagem/rv.jpg" alt="" class="book-card-img"></div>
      <h4 class="book-card-h4">A Rainha Vermelha</h4>
      <p class="book-card-p">R$ 32,99</p>
      <p class="book-card-p">Editora: Seguinte; 1ª edição (9 junho 2015)</p>
      <p class="book-card-p">Capa comum: 424 páginas</p>
  </div>

</body>
</html>