body, html{
    background-color: #344960;
    font-family: Arial, Helvetica, sans-serif;
}

.book-card {
    margin: 30px;
    background-color: #C0A293;
    border: 5px solid #C0A293;
    display:inline-block;
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-radius: 10px;
  
}

.book-card-h4{
    padding: 5px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    color:black;
}
  
.book-card-img{
    height: 154px;
    width: 107px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.book-card-p {
    padding: 5px;
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    color:black;
}

.book-card-produto{
    margin: 30px;
    background-color: #C0A293;
    border: 5px solid #C0A293;
    display:inline-block;
    overflow: hidden;
    height: 300px;
    width: 500px;
    border-radius: 10px;
}

.book{
    display: flex;
}

.book-card-home{
    text-align: left;
    margin: 30px;
    background-color: #C0A293;
    border: 5px solid #C0A293;
    display:inline-block;
    overflow: hidden;
    height: 340px;
    width: 550px;
    border-radius: 10px;
    display: flex;
  
}

.card{
    display: flex;
}

.card-home {
    text-align: left;
    margin: 30px;
    background-color: #C0A293;
    border: 5px solid #C0A293;
    display:inline-block;
    overflow: hidden;
    min-width: 100px;
    min-width: 600px;
    min-height: 100px;
    max-height: 500px;
    border-radius: 10px;
    display: flex;
    display: table;
  
}

.card-a{
    margin-top: 90px;
    height: 156px;
    width: 150px;
    
}

.card-b{
    height: 340px;
    width: 430px;
    display:table-cell;
    vertical-align: middle
    
}

.card-img{
    height: 154px;
    width: 107px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    padding: 5px;
    margin: 0;
    font-size: 18px;
    white-space: normal;
}

.cor{
    color: #C0A293;
}