body, html, main{
    background-color: #344960;
    font-family: Arial, Helvetica, sans-serif;
}

.color{
    background-color: #C0A293;
    color: #344960;
}

.color_b{
    color: #344960;
}

.book-card {
    margin: 30px;
    background-color: #C0A293;
    border: 5px solid #C0A293;
    display:inline-block;
    overflow: hidden;
    height: 300px;
    width: 250px;
    border-radius: 10px;
  
}

.book-card-h4{
    padding: 5px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    color:black;
}
  
.book-card-img{
    height: 154px;
    width: 107px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.book-card-p {
    padding: 5px;
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    color:black;
}

.book-card-produto{
    margin: 30px;
    background-color: #C0A293;
    border: 5px solid #C0A293;
    display:inline-block;
    overflow: hidden;
    height: 300px;
    width: 500px;
    border-radius: 10px;
}

.book{
    display: flex;
}

.book-card-home{
    text-align: left;
    margin: 30px;
    background-color: #C0A293;
    border: 5px solid #C0A293;
    display:inline-block;
    overflow: hidden;
    height: 340px;
    width: 550px;
    border-radius: 10px;
    display: flex;
  
}

.botao{
    background-color: #344960;
    height: 50px;
    width: 80px;
    border-radius: 5px;
    color: #ffffff;
}

.card-beca{
    display: flex;
    background-color: #344960;
}

.card-home-beca {
    text-align: left;
    margin: 30px;
    background-color: #C0A293;
    border: 5px solid #C0A293;
    display:inline-block;
    overflow: hidden;
    min-width: 100px;
    min-width: 600px;
    min-height: 100px;
    max-height: 500px;
    border-radius: 10px;
    display: flex;
    display: table;
  
}

.card-a-beca{
    margin-top: 90px;
    height: 156px;
    width: 150px;
    
}

.card-b-beca{
    height: 340px;
    width: 430px;
    display:table-cell;
    vertical-align: middle
    
}

.card-img-beca{
    height: 154px;
    width: 107px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-p-beca {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    padding: 5px;
    margin: 0;
    font-size: 18px;
    white-space: normal;
}

.cor{
    color: #C0A293;
}