
.book-card {
    margin: 30px;
    background-color: #868096;
    border: 5px solid #868096;
    display:inline-block;
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-radius: 10px;
  
}

.book-card-h4{
    padding: 5px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    color:black;
}
  
.book-card-img{
    height: 154px;
    width: 107px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.book-card-p {
    padding: 5px;
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
    color:black;
}

.book-card-produto{
    margin: 30px;
    background-color: #868096;
    border: 5px solid #868096;
    display:inline-block;
    overflow: hidden;
    height: 300px;
    width: 500px;
    border-radius: 10px;
}